body{
    background-color: rgb(111, 111, 148);
    padding: 0px;
}
table{
    background-color: rgb(128, 113, 92);
    width: 100%;
}

table,td,tr,th{
    border :1px solid rgb(160, 13, 13);
    border-collapse: collapse;
    color: rgb(10, 10, 10);
}
h1{
background-color: bisque;
padding: auto;
}

nav{
text-decoration: none;
box-shadow:2px;
background-color: rgb(210, 218, 216);
display: block;}

ul li{
    text-align: center;
      display: flex;
      padding-right: 10px;
    display: inline;
    display: flex;
    list-style-type: none;
    float: left;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 2px;
    
    background-color: rgb(87, 55, 55);

}
a:link{
    color: rgb(97, 64, 64);
    background-color: green;
}
a:link,a:active{
    color: brown;
    background-color: grey;
}
a:hover{
    background-color: white;
    color: brown;
}